.E{
  color:#6a818d;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
  color:#0B2950;
  background-image:url("backgroundRJ.jpg");
  background-size:cover;
}
h1, h2, h3 {
  font-family: 'Noto Sans TC', sans-serif;
  color:#0B2950
}
.subheading {
  font-family: 'Noto Sans TC', sans-serif;
}
.bg-primary {
  background-color: #EFD3B0 !important;
  background-image: url("fresh-snow.png");
}
.text-primary {
  color:#0B2950 !important;
}
a {
  color:#0B2950;
}
a:hover, a:focus, a:active {
  color:#0B2950;
}
.nav-item a:hover{
  background-color: #804124; 
}
.IG a:hover {
  background-color: rgb(212, 46, 120);
}
.FB a:hover {
  background-color: rgb(64, 100, 173);
}
.LINE a:hover {
  background-color: rgb(65, 193, 6);
}
.T a:hover {
  background-color: rgb(47, 65, 88);
}
.social-icons span{
  margin-right: 1rem;
}
.music {
  background-color:#D6FBFB;
}
    
table i {
  color:#FF0000;
  font-size:25px;
}
.icon {
  text-align:center;
}
.pic {
  font-size:20px;
  text-allign:justify;
}
div#C {
  display:flex;
  flex-flow:row wrap;
  justify-content:space-evenly;
}
div.child_div {
  margin:0.5rem;
  padding:0.5rem;
  border:1px solid;
  background-color:#faf0d6;
}
.child_div p {
  display:block;
  align-self:center;
}
.title {
  font-size:1.5rem;
  font-weight:bold;
  text-align:center;
}
.words {
  color:#0c3569;
  text-align:center;
}
#sideNav .navbar-brand .img-profile {
    border: 0.5rem solid rgba(212, 138, 110, 0.2);
  }
