body {
  font-family: 'Noto Sans TC', sans-serif;
  color:#40E0D0  
}
h1, h2 {
font-family: 'Noto Sans TC', sans-serif;
color:#40E0D0   
}

.bg-primary {
  background-color:#00BFFF !important;
}

.text-primary {
  color:#7FFFD4 !important;
}

a {
  color: #40E0D0;
}
a:hover, a:focus, a:active {
  color: #40E0D0;
}
